.gamelist{

}

.gamelist__row{
    display:grid;
    grid-template-columns: auto 100px;
    margin-bottom: 1.1rem;
}

.gamelist__head, .gamelist__title, .gamelist__year {
    border-bottom:1px solid var(--accent-color);
    padding-bottom:0.25rem;
    color:var(--main-primary-color);
}

.gamelist__title, .gamelist__year{
    color: var(--main-secondary-color)
}

.gamelist__head{
    font-weight: 900;
    border-bottom:3px solid var(--accent-color);
}

.gamelist__link{
    display: block;
    text-decoration: none;
    font-weight:700;
    color: var(--contrast-primary-color);
    transition: 0.3s all ease-in
}

.gamelist__link:hover{
    color: var(--contrast-secondary-color);
}

.gamelist__year{
    text-align: right;
}


