.game__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem 3rem;
}

.game__title{
    margin: 0;
    margin-bottom: 1rem;
	flex-grow: 1;
	min-width: 100%;
}

.game__nav{
	margin: 0;
    margin-bottom: 1rem;
	margin-top: -3.5rem;
	flex-grow: 1;
	min-width: 100%;
	text-align: right;
}

.game__edit_button{
	
}

.game__cover, .game__attributes{
    flex-grow: 1;
    overflow: hidden;
    color: var(--main-secondary-color);
}

.game__cover{
    max-width: 250px;
}

.game__cover > img{
    width: 100%;
}

.game__attributes > li{
    margin-bottom: 1rem;
}

.game__attributes--title{
    font-weight: 700;
    color: var(--main-primary-color);
    padding-bottom: 0;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
}

@media screen and (max-width: 540px) {
    .game__block{
        flex-wrap: wrap;
    }

    .game__cover{
        width: 100%;
        max-width: initial;
    }

    .game__summary{
        margin-top: 2rem;
    }
}