.gamelist{

}

.gamelist__row{
    display: grid;
    grid-template-columns: auto 120px;
}

.gamelist__row:first-child, .gamelist__row:last-child{
    padding-bottom:0;
}

.gamelist__head, .gamelist__title, .gamelist__year {
    padding-bottom:0.25rem;
}

.gamelist__title, .gamelist__year{
    color: var(--main-secondary-color);
}

.gamelist__head{
    font-weight: 900;
    border-bottom:3px solid var(--accent-color);
    text-transform: uppercase;
    color:var(--main-primary-color);
}

.gamelist__link{
    display: block;
    text-decoration: none;
    font-weight:700;
    color: var(--contrast-primary-color);
    transition: 0.3s all ease-in;
    padding: 1rem;
}

.gamelist__link:hover{
    color: var(--contrast-secondary-color);
}

.gamelist__year{
    text-align: right;
}

.gamelist__year > .gamelist__link{
    display: block;
    text-decoration: none;
    font-weight:500;
    color: var(--main-secondary-color);
}

.gamelist__year > .gamelist__link:hover{
    color: var(--main-secondary-color);
}

@media screen and (max-width: 540px) {
    .gamelist__row{
        grid-template-columns: auto;
    }

    .gamelist__year{
        display: none;
    }
}