.page{

}

.page__block{
    padding:2rem;
    background-color:var(--bg-secondary-color);
    box-shadow:5px 5px 5px 1px var(--shadow-color);
    border-radius:5px;
}

.page__header{
    display:flex;
}

.page__header > div{
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.page__title{
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}