*{
    margin: 0;
    padding: 0;
}

#app{
    height: 100%;
    position: relative;
    transition: none !important;
}

html{
	overflow-y: initial;
}

body{
	overflow-y: scroll;
}

html,body{
    font-family: "Nunito", sans-serif;
    color: var(--main-primary-color);
    background-color: var(--bg-primary-color);
    
}


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--bg-primary-color);
}

::-webkit-scrollbar-thumb {
	background: var(--bg-secondary-color);
}

::placeholder{
	color: var(--main-secondary-color);
}


h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    font-weight: 700;
    color: var(--contrast-primary-color);
    transition: 0.3s all ease-in;
}

a:hover{
    color: var(--contrast-secondary-color);
}

p{
    margin-bottom: 1rem;
}

.show{
	opacity: 1 !important;
}

.hide{
	opacity: 0 !important;
}

.hidden{
	display: none !important;
}

.error{
	display: flex;
	align-items: center;
	justify-content: center;
	height:500px;
}

#wrapper{
    padding: 2rem;
    margin: auto;
    max-width: 1200px;
}

.header{
	position: relative;
	z-index:9999;
}

header{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

header, nav{
    margin-bottom: 1rem;
}

main{
    min-height: 420px;
}

.header__nav{
}

.header__link{
    display: inline-block;
    margin-right: 1rem;
	padding:0.5rem;
	background-color: var(--main-primary-color);
	color: var(--bg-secondary-color);
	border-radius: 5px;
}

.header__link:hover{
	color: var(--bg-secondary-color) !important;
}

.header__link--action{
	background-color: var(--contrast-primary-color);
	color: var(--main-primary-color);
}

.header__link--action:hover{
	color: var(--main-primary-color) !important;
}

footer{
    padding: 2rem;
    color: var(--main-secondary-color);
    height: 200px;
}

.footer__copy{
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.75rem;
}

.made-with>span{
    opacity: 0.5;
}

button{
	border: 0;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 0.9rem;
	font-weight: 700;
	color: var(--main-primary-color);
	background-color: var(--contrast-primary-color);
	transition: all 0.25s ease-in-out;
}

button:hover{
	cursor: pointer;
}

button:disabled{
	background-color: var(--main-primary-color);
	color: var(--main-secondary-color);
	transition: all 0s ease-in-out;
}

.gamelist, .game, .page__message, .form__update, .page__title--hide{
	opacity: 0;
	transition: opacity 0.5s ease-in;
	transition-delay: 0.35s;
}