.route-enter-from {
	opacity: 0;
	transform: translateX(-500px);
}

// .route-enter-to {
// 	opacity: 1;
//  }

.route-enter-active {
	animation-delay: 0s;
    transition: all 0.7s ease-in;
}

.route-leave-from {
	opacity: 1;
}

.route-leave-to {
	opacity: 0;
	transform: translateX(-500px);
}

.route-leave-active {
	transition: all 0.7s ease-in;
}