:root {
	--bg-primary-color: #fcfafa;
    --bg-secondary-color: #f3f3f377;

	--main-primary-color: #3f3f3f;
	--main-secondary-color: #8d8d8d;

	--shadow-color: rgba(0, 0, 0, 0.05);
	
    --contrast-primary-color: #008bfd;
}
