:root {
	--bg-primary-color: #262736;
    --bg-secondary-color: #1e1f2e;

	--main-primary-color: #cecece;
	--main-secondary-color: #8d8d8d;

	--accent-color: #cecece1c;
	--shadow-color: #0000005b;
	
    --contrast-primary-color: #0f90e6ec;
	--contrast-secondary-color: #04cdffec;
}